.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-weight: 700;
  font-size: 15px;
}
 .rocket {
  padding: 8px 16px;
  color: rgb(27, 27, 208);
  display: flex;
 }
 .rocket-text {
  margin-left: 10px;
  color: black;
 }
.router-nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  background-color: #e0e7ef;
  color: aliceblue;
}
.navigation-menu__container {
  display: block;
  padding: 8px 16px;
}
.router-nav-container:hover {
  background-color: #b3d7dd;
}
a {
  color: rgb(97, 101, 104);
}